.header {
    color: var(--white-color);
    background-color: var(--background-color);
    padding: auto;
    margin: auto;
    height: 72px;
}

.header-title {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}